.page2-h1 {
  font-size: 6.5vw;
  font-weight: 400;
  color: #111;
  opacity: 0.8;
}

.page2-container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page2-left {
  width: 40%;
}

.page2-right {
  width: 28%;
}

.page2-left h2 {
  font-size: 3vw;
  font-weight: 400;
  color: #111;
  line-height: 4vw;
}

.page2-right p {
  font-size: 20px;
  color: #111;
  line-height: 2vw;
}

.page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.4s ease;
}

.page2-right button:hover {
  background-color: #c59ce1;
}
