.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4em 2rem 2rem;
}

.head-text {
  font-size: 4vw;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
}

.app__footer-card {
  min-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f8ff;
  box-shadow: 0 0 20px 0 rgba(240, 248, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.app__footer-card a {
  text-decoration: none;
  font-weight: 500;
  color: #111;
  font-size: 0.9vw;
}

.app__footer-card .mail-icon {
  color: #111;
}

.app__footer-card:hover {
  box-shadow: 0 0 20px 0 rgba(240, 248, 255, 0.8);
}

.app__footer-cards .app__footer-card:last-child {
  background-color: #f0f8ff;
  box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.app__footer-cards .app__footer-card:last-child:hover {
  box-shadow: 0 0 20px 0 rgba(240, 248, 255, 0.8);
}

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;
}

.app__footer-form div {
  width: 100%;
  margin: 0.75rem 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.app__footer-form input,
.app__footer-form textarea {
  width: 100%;
  padding: 0.95rem;
  border: none;
  border-radius: 7px;
  background-color: #f0f8ff;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); /* White box shadow */
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
  color: #242b2e;
}

.app__footer-form textarea {
  height: 170px;
}

.app__footer-form button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: #edbfff;
  font-weight: 500;
  color: #111;
  outline: none;
  margin: 2rem 0 0 0;
  cursor: pointer;
}

.app__footer-form button:hover {
  background-color: #c59ce1;
  transition: all 0.3s ease-in-out;
}

textarea {
  margin-top: 20px;
  display: flex;
  align-items: center;

  border-radius: 8px;
  min-height: 300px;
  max-height: 600px;
  background-color: #f0f8ff;
  color: #242b2e;
  font-weight: 400;
  border: 1px solid white;
  box-shadow: 2px 2px 10px #fff;
  margin-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.4);
}

textarea:is(:focus, :valid) {
  padding: 14px;
  border: 2px solid #fff;
}

textarea::-webkit-scrollbar {
  width: 0px;
}
