/* Home.css */

.home {
  position: absolute;
  margin-top: 12vw;
  left: 6vw;
}

.home h1 {
  font-size: 7vw;
  font-weight: 500;
  margin-left: 6vw;
  transform-origin: left;
  text-transform: uppercase;
  opacity: 0.6;
}

.home h2 {
  font-size: 7vw;
  font-weight: 500;
  transform-origin: left;
  margin-left: 23vw;
  opacity: 0.6;
  text-transform: uppercase;
}

.block-text {
  width: fit-content;
}

.block-text h5 {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.6;
}

.gif-image {
  width: 50%;
  margin-top: 40vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .home {
    position: relative;
    margin-top: 10vh;
    left: 6vh;
    display: flex;
    flex-direction: column;
  }

  .home h1 {
    font-size: 10vw;
    margin-left: 0;
  }

  .home h2 {
    font-size: 8vw;
    margin-left: 0;
  }

  .block-text h5 {
    text-align: center;
    font-size: 8px;
  }

  .gif-image {
    width: 100%;
    margin-top: 20px;
    left: 0;
    transform: none;
  }
}
