.main-header {
  width: 100%;
  padding: 0 20px;
  z-index: 99;
  background-color: #212121;
  color: white;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.nav {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}

.nav img {
  height: 65px;
  width: 85px;
  background-color: #0f0d0d;
}

.nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mobile-menu-icon {
  display: none;
}

.nav-part3 {
  opacity: 0.6;
  cursor: pointer;
}

.nav-part3 svg {
  height: 20px;
  width: 30px;
}

.nav-part3:hover {
  transition: all 0.3 ease-in;
  opacity: 0.4;
}

.nav h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.6;
}

.nav h4 {
  cursor: pointer;
  position: relative;
}

.nav h4::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav h4:hover::after {
  width: 100%;
}

.hidden {
  display: block;
}

@media (max-width: 768px) {
  .nav {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    position: static;
    background-color: #212121;
    border-bottom: none;
  }
  .nav img {
    margin-bottom: 10px;
    height: 30px;
    width: 40px;
  }

  .nav-part2 {
    flex-direction: column;
    gap: 10px;
  }

  .nav h4 {
    font-size: 12px;
  }

  .nav-part3 {
    margin-top: 8px;
    opacity: 1;
  }

  .mobile-menu-open .nav-part2 {
    display: flex;
    margin-bottom: 10px;
  }

  .nav h4 {
    opacity: 1; /* Ensure menu items are fully visible */
    font-size: 10px; /* Adjust font size for mobile */
    padding: 5px 0; /* Add padding to menu items */
  }
}
