.main-header {
  width: 100%;
  padding: 0 20px;
  z-index: 99;
  background-color: #212121;
  color: white;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.main-header.sticky-header {
  background-color: #212121;
  color: white;
  position: sticky;
  top: 0;
  transform: translateY(-60px);
  animation: StickyHeader 0.3s ease forwards;
}

@keyframes StickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}

.nav img {
  height: 27px;
}

.nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav .circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
}

.nav h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav h4:nth-child(1) {
  border-bottom: 1.5px solid #fff;
}
