.project-heading {
  font-size: 6.5vw;
  font-weight: 400;
  color: #111;
  opacity: 0.8;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.project-card {
  flex: 0 0 calc(35% - 20px);
  margin-top: 30px;
}

/* .project-image {
  width: 350px;
  height: 400px;
} */

.project-card:nth-child(2) {
  margin-top: 180px;
}

.project-card:nth-child(4) {
  margin-top: 180px;
}

.project-title {
  font-size: 14px;
  color: #111;
}
.project-desc {
  color: #111;
}
.view-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.view-all h2 {
  font-size: 4.3vw;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
}

.github-button {
  width: 120px;
  height: 120px;
  line-height: 100px; /* Add this line */
  border-radius: 50%;
  background-color: #edbfff;
  text-transform: uppercase;
  color: #111;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.github-button:hover {
  background-color: #c59ce1;
}
