
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
} */

.main{
  background-color: #0f0d0d;
}

.page1 { 
  width: 100%;
  min-height: 100vh;
}

.page2{ 
  min-height: 80vh;
  width: 100%;
  padding: 100px 5vw;
  border-bottom: 2px solid #6c6c6c;
  position: relative;
  z-index: 9;
} 

.page3{
  min-height: 150vh;
  width: 100%;
  padding-top: 100px;
  padding: 100px 5vw;
  position: relative;
  z-index: 9;
}
