* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.loading-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #766df4;
  animation: spin 1s infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-60%, -60%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.main {
  background-color: #0f0d0d;
  overflow-x: hidden;
}

.page1 {
  width: 100%;
  min-height: 100vh;
  z-index: 9;
}

.page2 {
  min-height: 80vh;
  width: 100%;
  padding: 100px 5vw;
  border-bottom: 2px solid #6c6c6c;
  position: relative;
  z-index: 9;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding: 100px 5vw;
  position: relative;
  border-bottom: 2px solid #6c6c6c;
  z-index: 9;
}

.page4 {
  min-height: 100vh;
  width: 100%;
  padding: 100px 5vw;
  padding-right: 20vw;
  border-bottom: 2px solid #6c6c6c;
  position: relative;
  z-index: 9;
}

.page5 {
  width: 100%;
  min-height: 70vh;
  padding: 100px 5vw;
  z-index: 9;
}
